:root{
    --cor-enf-amarelo: #FACD19;
    --cor-enf-azul: #1CA0C1;
    --cor-bas-cinza: #F2F2F2;
    --cor-bas-branco: #FFFFFF;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: var(--cor-enf-amarelo);
    color: var(--cor-bas-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, p{
    margin: 20px 20px;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

#search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid var(--cor-bas-branco); */
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

#search-button{
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: var(--cor-bas-branco);
    background-color: var(--cor-enf-azul);
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-symbols-outlined{
    transform: rotate(90deg);
}

.output{
    background-color: var(--cor-bas-cinza);
    border-radius: 5px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 80px;
    gap: 20px;
    height: 350px;
}

#pokemon-name,
#pokemon-id,
#weight,
#height{
    padding: 5px 5px;
    background-color: var(--cor-bas-branco);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px 20px;
    display: inline-block;
    letter-spacing: 1.2px;
}

.bottom-container{
    grid-row: span 2 / span 3;
}

#type-title::before{
    content: "";
    height: 16px;
    width: 4px;
    background-color: var(--cor-enf-amarelo);
    position: absolute;
    top: 4px;
    right:  265px;
}

#type-title{
    margin-left: 29px;
    font-size: 1.2rem;
    font-weight: 500;
}

#types{
    position: relative;
}

.nav-container{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.name-and-id, .size{
    display: flex;
    justify-content: space-between;
}

#prev-button,
#next-button{
    background-color: var(--cor-enf-azul);
    border: none;
    border-radius: 5px;
    color: var(--cor-bas-branco);
    padding: 15px 25px;
    cursor: pointer;
    font-size: large;
}

/* .footer{
    background-color: var(--cor-enf-amarelo);
    padding: 40px;
    margin-top: auto;
} */