:root{
    --cor-enf-amarelo: #FACD19;
    --cor-enf-azul: #1CA0C1;
    --cor-bas-cinza: #F2F2F2;
    --cor-bas-branco: #FFFFFF;
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: var(--cor-enf-amarelo);
    color: var(--cor-bas-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, p{
    margin: 20px 20px;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

#search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid var(--cor-bas-branco); */
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

#search-button{
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: var(--cor-bas-branco);
    background-color: var(--cor-enf-azul);
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-symbols-outlined{
    transform: rotate(90deg);
}

.output{
    background-color: var(--cor-bas-cinza);
    border-radius: 5px;
    height: max-content;
    width: 600px;
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 60px 200px 80px;
    gap: 20px;
}

#pokemon-name,
#pokemon-id,
#weight,
#height{
    padding: 5px 5px;
    width: max-content;
    background-color: var(--cor-bas-branco);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 20px;
    letter-spacing: 1.2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%);
}

.nav-container{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.name-and-id, .size{
    display: flex;
    justify-content: space-between;
}

.sprite-img{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

#types{
    margin: 10px 10px 10px 20px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 5px;
}

#type-title{
    margin-left: 29px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#types-output{
    position: relative;
}

#type-title::before{
    content: "";
    height: 16px;
    width: 4px;
    background-color: var(--cor-enf-amarelo);
    position: absolute;
    top: 4px;
    right: 265px;
}

#type-element{
    width: 66px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    /* letter-spacing: 1.2px; */
    text-transform: uppercase;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    font-size: 1 rem;
    color: #000000;
    background-color: var(--cor-bas-branco);
  }
  
  th:nth-child(even),
  td:nth-child(even) {
    border-left: 5px solid #f5f6f7;
  }
  
  tr {
    border-bottom: 5px solid #f5f6f7;
  }
  
  td,
  th {
    text-align: center;
    padding: 8px;
  }
  
.disable{
    display: none !important;
}

.normal { background-color: #A8A878; }
.fighting { background-color: #C03028; }
.flying { background-color: #A890F0; }
.poison { background-color: #A040A0; }
.ground { background-color: #E0C068; }
.rock { background-color: #B8A038; }
.bug { background-color: #A8B820; }
.ghost { background-color: #705898; }
.steel { background-color: #B8B8D0; }
.fire { background-color: #F08030; }
.water { background-color: #6890F0; }
.grass { background-color: #78C850; }
.electric { background-color: #F8D030; }
.psychic { background-color: #F85888; }
.ice { background-color: #98D8D8; }
.dragon { background-color: #7038F8; }
.dark { background-color: #705848; }
.fairy { background-color: #EE99AC; }
.unknown { background-color: #68A090; }
.shadow { background-color: #000000; }


/* #prev-button,
#next-button{
    background-color: var(--cor-enf-azul);
    border: none;
    border-radius: 5px;
    color: var(--cor-bas-branco);
    padding: 15px 25px;
    cursor: pointer;
    font-size: large;
} */

/* .footer{
    background-color: var(--cor-enf-amarelo);
    padding: 40px;
    margin-top: auto;
} */
